// change the theme
  $primary: #880071!important;
  $danger: #85006e;

.bg-primary, .btn-primary {background-color:$primary}
.primcolor {color:$primary}
.footer-bg {background-color:#2D2D2D}


.css-1hskriy {
  width: 320px!important;
}

.css-1f8bwsm {
  min-width: 30px!important;
}
.css-cveggr-MuiListItemIcon-root {
  min-width: 30px!important;
}

.navbar-collapse {
  z-index: 100;
}
.navbar {
  .navbar-toggler {
    z-index: 100;
  }
  .navbar-brand {
    z-index: 100;
  &:hover {
    text-decoration: none!important;
    border-bottom: none!important;
  }
  }
  .nav-link {
    display: initial!important;
    &:hover {
      text-decoration: none;
    }
    a {
      text-decoration: none;
      &:hover {
        text-decoration: none;
      }
    }
  }
  .nav-item {
    a {
      text-decoration: none!important;
    }
  }
}
.skewy {
  transform: skewY(-2deg);
}
.anti-skewy {
  transform: skewY(2deg);
}
.c-container {
  max-width: 1100px;
  margin: 0 auto;
  overflow: auto;
  padding: 0 40px;
}
.h-container {
  // max-width: 1100px;
  margin: 0 auto;
}
.l-container {
  max-width: 1100px;
  margin: 0 auto;
  overflow: auto;
  // padding: 0 40px;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 20px;
  gap: 20px;
  justify-content: center;
  align-items: center;
  min-height: calc(100vh - 70px);
}
.input-container {
  padding: 15px 0;
}
.r-r-container {
  background-image: url("./img/bg_commreg.png");
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
}
.r-container {
  max-width: 1100px;
  margin: 0 auto;
}
.commreg-pic {
  position: absolute;
  top: 0;
  max-width: 550px;
  justify-self: flex-end;
}
.reg-pic {
  max-width: 405px;
  justify-self: flex-end;
}

#reg-referral, #reg-name, #reg-company, #reg-kontakty, #reg-builder, #reg-duvody, #reg-temata, #reg-vzkaz, #reg-pass, #commreg {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 20px;
  gap: 20px;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}

.css-1sg8fd1-MuiButtonBase-root-MuiCheckbox-root {
  padding: 0 9px!important;
}

.commregform {
  // position: relative;
  // height: 350px;
  width: 500px;
  padding: 40px;
  z-index: 100;
  h3 {
    margin-bottom: 20px;
  }
  .form-group {
    margin-bottom: 2rem;

    h5 {
      font-size: 1rem;
      margin-top:25px;
    }
}
.login-panel {
  color:black;
}
}
.loginform {
  position: relative;
  // height: 350px;
  max-width: 400px;
  padding: 40px;
  z-index: 100;
  box-shadow: 0 3px 5px rgba(0, 0, 0, 0.3);
  h3 {
    margin-bottom: 20px;
  }
  .form-group {
    margin-bottom: 2rem;
}
.login-panel {
  color:black;
}
}
.login-pic {
  max-width: 490px;
  // justify-self: flex-end;
  // transform: perspective(683px) rotateX(5deg) rotateY(331deg);
}
.lcard {
  background-color: white;
    color: #333;
    padding: 20px;
    margin: 10px;
}


.showcase {
  min-height: 85vh;
  color: white;
  position: relative;
}

.showcase-form {
  // height: 350px;
  // width: 400px;
  // padding: 40px;
  z-index: 100;
  justify-self: flex-end;
  /* animation: slideInFromRight 1s ease-in; */
}

.showcase-form .form-control {
  margin: 30px 0;
}

.showcase-form input[type="text"],
.showcase-form input[type="email"] {
  border: 0;
  border-bottom: 1px solid #bcbcbc;
  width: 100%;
  padding: 3px;
  font-size: 16px;
}

.showcase-form input:focus {
  outline: none;
}

.video-background-holder {
  position: relative;
  background-color: black;
  height: 100%;
  min-height: 25
rem
;
  width: 100%;
  overflow: hidden;
}
.bg-text {
  background-color: rgb(0,0,0);
  background-color: rgba(0,0,0, 0.4);
  color: white;
  font-weight: bold;
  border: 3
px
solid #f1f1f1;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 2;
  width: 80%;
  padding: 20
px
;
  text-align: center;
}

#welcome {
  margin-top:-80px;
  margin-bottom: 40px;
  background-image: url(./img/welcome.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-blend-mode: screen;
    .mid-container {
      height:90vh;
      width: 100%;
      display: flex;
      justify-content: center;
      align-items: center;
      position: relative;
    }
    .color-overlay {
      width: 100%;
      height: 100%;
      background-color: $primary;
      opacity: 0.8;
      position: absolute;
    }
  .welcome-overlay {
    background-color: $primary;
    opacity: 0.7;
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    z-index: 1;
  }
  .container-ft {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 50px 20px;
    text-align: center;
    height: 82vh;
    
  }
  .w-textwrapper{
    color: white;
    position: absolute;
    transform: translateY(-30%) skewY(2deg);
    top:50%;
    z-index: 1;
    animation: 3s ease-in;

    span:before {
      content: "";
      animation: animate infinite 8s ease-in;
    }

    @keyframes animate {
      0% {
        content: "KUPUJ";
      }
      25% {
        content: "PRODÁVEJ";
      }
      50% {
        content: "SPONZORUJ";
      }
      75% {
        content: "NAJDI";
      }
      100% {
        content: "KUPUJ";
      }
    }

    h1 {
      font-size: 3rem;
      letter-spacing: 0.9rem;
      z-index: 1;
      font-weight: 400;
    }
    p {
      font-size: 1.5rem;
      letter-spacing: 0.9rem;
    }
    .btn {
      background-color: white;
      color: $primary;
      border-radius: 25px;
      margin-top: 30px;
      font-size: 20px;
      font-weight: 500;
      min-width: 220px;
    }
  }
}

#title {
  text-align: center;
  padding: 50px 0;
  h1 {
    color: $primary;
    z-index: 1;
    font-weight: 500;
    letter-spacing: 2px;
    margin-bottom: 50px;
    font-size: 2rem;
  }

  .showcase-text {
    h2 {
      margin: 35px 0;
      font-size: 26px;
      font-weight: 400;
      color: black;
    }
  }
  
  .title-text {
    text-align: left;
  }
  .btn {
    background-color: $primary;
    border-radius: 25px;
    margin-top: 30px;
    &:hover {
      color:white;
    }
  }
}

#cards {
  color: black;
  padding: 175px 0;
  .card {
    background-color: white;
    color: #333;
    text-align: center;
    box-shadow: 0 3px 10px rgba(0, 0, 0, 0.4);
    padding: 10px;
    margin: 10px;
    transition: transform 0.2s ease-in;
    &:hover {
      transform: translateY(-15px) scale(1.1);
      box-shadow: 0 3px 10px rgba(0, 0, 0, 0.2);
    }
  }
  i {
    color:$primary;
    font-size: 36px;
  }
  .big-icon {
    width: 80px;
    height: 80px;
  }
  h3 {
    margin-top: 30px;
  }
}

#testimonials {
  margin-top:80px;
  margin-bottom: 100px;
  p{
    margin: 20px 0;
  }
  .testimony-card {
    background-color: white;
    color: #606060;
    margin: 60px 70px;
    box-shadow: 0 3px 10px rgba(0, 0, 0, 0.3);
    background-repeat: no-repeat;
    background-size: cover;
    overflow: hidden;
    transform: skewX(-20deg);
    .t-card-inner {
      padding: 20px;
      margin: 0;
      transform: skew(20deg);
      background-color: white;
      display: flex;
    }
    .t-card-pic {
      width: 220px;
      margin: 30px;
    }
  }
  h2 {
    color: $primary;
    z-index: 1;
    font-weight: 500;
    letter-spacing: 2px;
    margin-bottom: 100px;
  }
}

.grid-4 {
  grid-template-columns: repeat(4, 1fr)!important;
}

.wuwej-card {
  height: 400px;
  background-color: white;
  color: black;
  margin: 80px 70px;
  box-shadow: 0 3px 10px rgba(0, 0, 0, 0.4);
  background-image: url(./img/w_card_bg.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  overflow: hidden;

  .w-card-inner {
    padding: 20px;
    margin: 0;
    width: 55%;
    height: 100%;
    transform: skew(-15deg);
    background-color: white;
  }
  .showcase-text {
    transform: skew(15deg);
    }
  h1 {
    margin-bottom: 40px;
  }
  .btn {
    background-color: $primary;
    border-radius: 25px;
    margin-top: 30px;
    
    &:hover {
      color:white;
    }
  }
}

.css-ahj2mt-MuiTypography-root {
  font-size: 0.8rem!important;
}
.css-u4tvz2-MuiFormLabel-root {
  font-size: 0.8rem!important;
}

@media(max-width: 992px) {
  .MuiFormGroup-root {
    text-align: left;
  }
  .ml-auto {
    background-color: rgb(87, 0, 90);
  }
  .color-overlay {
    opacity: 0;
  }
  .login-pic {
    display: none;
  }
  .reg-pic {
    display: none;
  }
  .l-container {
    grid-template-columns: none;
    height: calc(100vh - 110px)
  }
  .loginform {
    text-align: center;
    width: 100%;
  }
  #reg-referral, #reg-name, #reg-company, #reg-kontakty, #reg-builder, #reg-duvody, #reg-temata, #reg-vzkaz, #reg-pass, #commreg {
  grid-template-columns: repeat(1, 1fr);
  }
}

@media(max-width: 500px) {
  #welcome {
    background-image: none;
    background-color: $primary;
  }
  .container-ft {
    text-align: center;
    img {
      display: none;
    }
  }
  .css-1gyr8kh {
    width: auto!important;
  }
  .commregform {
    width: auto!important;
  }
}

footer {
  color:white;

  .container-ft {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 44px 20px;
  }
  ul {
    margin: 10px 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding-inline-start: 0px;
  }
  li {
    padding: 0 15px;
    margin-bottom: 16px;
  }
  a {
    font-size: 14px;
    font-weight: 500;
    color: white;

    &:hover{
      color: $primary;
      text-decoration: none;
      }
  }
  i {
    cursor: pointer;
    font-size: 30px;
    text-align: center;

    &:hover{
      color: $primary;
      }
  }
  
}

// Import Bootstrap and its default variables
@import 'https://cdn.jsdelivr.net/npm/bootstrap@4.6.1/dist/css/bootstrap.min.css';